.pio/
.vscode/
lib/
platformio.ini
src/*
!src/main.cpp
lib/
include/*
!src/myi2c.cpp
!include/myi2c.h
!src/myssd1306.cpp
!include/myssd1306.h
!include/mybtn.h
!src/mybtn.cpp
!include/mypinoutput.h
!src/mypinoutput.cpp

test/
